@import "../../../App.scss";

.comments {
  @include themify($themes) {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    img {
      width: 30px;
      height: 30px;
      border-radius: 50%;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      -o-border-radius: 50%;
    }
    .userComment {
      display: flex;
      align-items: center;
      gap: 15px;
      display: flex;
      justify-content: space-between;
      input {
        border: 1px solid themed("border");
        flex: 5;
        padding: 10px 5px;
        background: transparent;
        color: themed('textColor');
      }
      button {
        
        padding: 10px;
        background-color: rgb(14, 142, 242);
        color: #fff;
        cursor: pointer;
        font-weight: 500;
      }
    }
    .comment {
      display: flex;
      justify-content: space-between;
      gap: 15px;

      .details {
        flex: 5;
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        gap: 5px;
        span {
          font-weight: 500;
          font-size: 15px;
        }
        p {
          color: themed("textColorSoft");
          font-size: 14px;
        }
      }
      .date {
        flex: 1;
        font-size: 13px;
        color: themed("textColorSoft");
        align-self: center;
      }
    }
  }
}
