$themes: (
  light: (
    textColor: #000,
    bg: #fff,
    logo: rgb(14, 142, 242),
    bgSoft: #f6f3f3,
    textColorSoft: #555,
    border: lightgray,
    input: #000,
  ),
  dark: (
    textColor: whitesmoke,
    bg: #222,
    logo: rgb(14, 142, 242),
    bgSoft: #333,
    textColorSoft: lightgray,
    border: #444,
    input: #fff,
  ),
);


@mixin themify($themes) {
    @each $theme, $map in $themes {
      .theme-#{$theme} & {
        $theme-map: () !global;
        @each $key, $submap in $map {
          $value: map-get(map-get($themes, $theme), "#{$key}");
          $theme-map: map-merge(
            $theme-map,
            (
              $key: $value,
            )
          ) !global;
        }
        @content;
        $theme-map: null !global;
      }
    }
  }
  
  @function themed($key) {
    @return map-get($theme-map, $key);
  }

 @mixin  mobile {
  @media (max-width:480px) {
    @content;
  }
 } 
//  @mixin  tablet {
//   @media (max-width:960px) {
//     @content;
//   }
//  } 